<div class="col-md-7 offset-md-2">
  <div class="card my-5">
    <div class="card-body">
      <h2 class="d-flex justify-content-center mb-3">グループ作成</h2>
        
      <%= render 'form', group: @group %>
    </div>
  </div>
</div>