<div class="row">
  <div class="col-md-6 offset-md-3">
    <li class="mt-4">ダイエットを始めようと思ったことはありませんか？</li>
    <li class="mt-4">ダイエットしてもリバウンドしてしまったことはありませんか？</li>
    <li class="mt-4">一人だとなかなか続かないということはありませんか？</li>
    <p class="mt-4">そんな時、記録したり誰かと共有しをモチベーションを維持できるようにと思い作りました</p>
    <p class="mt-4">みんなでダイエットを楽しみ成功させましょう!!</p>
  </div>
</div>