<%= content_for(:bg_area) do %>
  <div class="jumbotron jumbotron-fluid bg_area">
    <div class="container mt-5 title">
      <h1 class="display-3 my-6 d-flex justify-content-center" style="margin-top:110px;">My Diet</h1>
      <p class="lead my-5 d-flex justify-content-center">Keep a daily record of your diet.</p>
      <hr class="my-4">
      <p class="my-4 d-flex justify-content-center">Let's all share our diet ideas and make our diets a success.</p>
      <div class="d-flex justify-content-center">
        <%= link_to "はじめる", new_user_registration_path, class: "btn btn-primary btn-lg my-4" %>
      </div>
    </div>
  </div>
<% end %>

<style>

</style>